.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.main-heading {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.user-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-message {
    font-size: 1.5rem;
    margin: 2rem 0;
}

.quiz-list {
    list-style: none;
    margin: 2rem 0;
    padding: 0;
}

.quiz-link {
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    margin: 1rem 0;
    transition: all 0.3s ease-in-out;
}

.quiz-link:hover {
    transform: scale(1.1);
    background-color: #0062cc;
    cursor: pointer;
}

.login-logout-button {
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    margin: 2rem 0;
    transition: all 0.3s ease-in-out;
}

.login-logout-button:hover {
    transform: scale(1.1);
    background-color: #0062cc;
    cursor: pointer;
}
