.quiz {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}

.question-count {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.question-text {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.answer-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    color: #333;
    cursor: pointer;
}

.answer-button:hover {
    background-color: #ddd;
}

.score-section {
    text-align: center;
    margin-top: 50px;
}

.score-section h2 {
    font-size: 2em;
    color: #333;
}

.back-button {
    margin-top: 16px; /* Add margin to provide spacing from other elements */
    padding: 8px 16px; /* Add padding for button size */
    background-color: #007bff; /* Set background color */
    color: #fff; /* Set text color */
    border: none; /* Remove border */
    border-radius: 4px; /* Add border radius for rounded corners */
    font-size: 16px; /* Set font size */
    cursor: pointer; /* Add cursor pointer on hover */
}

.back-button:hover {
    background-color: #0056b3; /* Change background color on hover */
}